body{
    font-family: 'Open Sans', sans-serif;
    margin: 0 0;
}
h2{
	line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: 900;
text-align: center;
  font-family: 'Comic-Sans';
  font-size: 24px;
  
  text-align: 90%;
  margin-bottom: 20px;
}
a:hover {
	text-decoration: none;
  color: #57b846;
}
.barra {
	position: relative;
	float:right;
	text-align: right;
	width: 100%;
	height: 40px;
	background: #333;
	color: #fff;
    /*outline:  1px solid #2a2a2a;*/
}
.sidebar {
	position: fixed;
	width: 15%;
	height: 100%;	
	background: #333;	
	color: #fff;
    /*outline:  1px solid #2a2a2a;*/

}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 100%;	
}
.sidebar h2 {
	text-align: center;
	margin: 10px;
	background: #2a2a2a;	
	
}
.sidebar li {
	outline:  1px solid #2a2a2a;
    transition-property: border;
    transition-duration: 0.3s;
}
.sidebar li:hover {
	background: #444;
	color: #57b846;
    border-left: 5px solid #eee;
	
}
.sidebar a {
	display: block;
	color: #FFFFFF;
	padding: 10px;
	text-decoration: none;
}
.imagenes{
	width: 100%;
	height: 100%;
	  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.imagenes figure{
	
	width: 40%;
	height: 40%;	
	position: relative;
	display: inline-block;
	
}
.imagenes figure img{
	width: 450px;
	height: 250px;
}
.Gcontenido{
	position: relative;
	width: 85%;
	height: 60%;
	top: 40px;
	left: 15%;
}
.contenido {
	width: 100%;
	height: 100%;

	
	position: absolute;
	border: 2px;
	
	outline:  1px solid #2a2a2a;
    transition: all 0.3s;
}
.menu-bar {
	cursor: pointer;
}
.abrir {
	transform: translateX(15%);
}